.Experiment-button-container {
    padding-top: 10px;
}

.ExperimentListItem-container {
    display: inline-block;
    margin-right: 17px;
    width: 150px;
}

.ExperimentStatus-container {
    height: 20vh;
}

.ExperimentStatus-button {
    margin-left: 5px;
    margin-right: 5px;
}

.ExperimentStatus-divider {
    width: 100%;
}

.NewExperiment-container {
    padding-top: 10px;
}

.NewExperiment-button {
    margin-left: 5px;
}

.JsonExperimentCreator-container {
    width: 100%;
    height: 40vh;
    padding: 20px;
}

.JsonExperimentCreator-button {
    margin-left: 5px;
    margin-right: 5px;
}

.JsonExperimentCreator-drop-container {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.JsonExperimentCreator-dropzone {
    width: 80%;
    height: 90%;
    border: 1px dashed #aaaaaa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.JsonExperimentCreator-drop-title {
    user-select: none;
}

.FormExperimentCreator-container {
    width: 100%;
    height: 40vh;
    padding: 20px;
}

.FormExperimentCreator-section-title {
    text-align: left;
    color: rgb(109, 109, 109);
    margin-bottom: 20px;
}

FormExperimentCreator-buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
